{% extends 'base.html.twig' %}
{% block body %}
<h1>Ajout d'un document</h1>

<form action="" method="POST">
    {{ form_widget(Form) }}
    <input class ="btn btn-success" type="submit"/>
    <a  class="btn btn-dark" href="{{ path ("biblio_affichage_document")}}"> Retour </a>
</form>
{% endblock %}