{% extends 'base.html.twig' %}
{% block body %}
<h1> Mise à jour de votre coordonnée </h1>

<form action="" method="POST">
    {{ form_widget(editForm) }}
    {% if is_granted('ROLE_EDITOR') %}
    <input class ="btn btn-success" type="submit"/>
    {% endif %}
    <a  class="btn btn-dark" href="{{ path ("biblio_affichage_document")}}"> Retour </a>
</form>
{% endblock %}