{% extends 'base.html.twig' %}
{% block body %}
<h1>Liste des Utilisateurs</h1>
<table border = "1" class="table table-striped">
    <tr>
        <th>id</th>
        <th>email</th>
        <th>roles</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% for role in user.roles %}
                    {% if role == "ROLE_USER" %}
                        Utilisateur
                    {% elseif role == "ROLE_EDITOR" %}
                        Editeur
                    {% elseif role == "ROLE_ADMIN" %}
                        Administrateur
                {% endif %}
                {% endfor %}
            </td>
            <td><a class ="btn btn-success" href = "{{ path ("admin_updateUsers",{'id': user.id })}}"> modifier </a></td>
            <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr de supprimer cet utilisateur?');" href = "{{ path ("admin_deleteUsers",{'id': user.id })}}"> Supprimer </a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}