{% extends 'base.html.twig' %}
{% block body %}
    <h1>Inscription</h1>

    <form action="" method="POST">
        {{ form_widget(Form) }}
        <input class ="btn btn-success" type="submit" name="inscription" value="inscription"/>
    </form>
{% endblock %}